<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

  <context:property-placeholder location="classpath:musicPlayer.properties"/>

  <bean id="testBean2" class="org.example.User">
    <constructor-arg value="Ura"/>
  </bean>

  <bean id="someMusic" class="musicPlayer.RockMusic">
  </bean>

  <bean id="musicPlayer" class="musicPlayer.MusicPlayer">
    <constructor-arg ref="someMusic"/>
  </bean>

  <bean id="withSetters" class="musicPlayer.MusicPlayer">
  <property name="music" ref="someMusic"/>
    <property name="value" value="${musicPlayer.value}"/>
  </bean>

  <bean id="withInit" class="musicPlayer.MusicPlayer"
  init-method="init" destroy-method="init">
    <property name="music" ref="someMusic"/>
    <property name="value" value="${musicPlayer.value}"/>
  </bean>
</beans>